[data-page-style='custom'] {
  @media only screen and (min-width: 1441px) {
    %page-style {
      width: Round(70%, 2px);
    }
  }

  @media only screen and (min-width: 1440px) {
    %page-style {
      width: Round(60%, 2px);
    }
  }

  @media only screen and (min-width: 1200px) {
    %page-style {
      width: Round(56%, 2px);
    }
  }
}
